.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
    /* max-width: 1260px; */
    padding: 0 25px;
    height: 100%;
}

.title {
  color: #1E212C;
  font-size: 46px;
  font-weight: 700;
  line-height: 130%;
  margin-top: 24px;
}

.empty {
  height: 80px;
  margin: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.addingButton {
  position: absolute;
  bottom: 15px;
  font-size: 36px;
  font-weight: 700;
}

.deviceValue {
  font-size: 36px;
  font-weight: 700;
}

.errorAlert {
  top:auto
}
